{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                   <h4>Request Reset Password </h4>

                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% for message in app.flashes('notice') %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Error!</strong> {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <form action="{{ path('reset_password') }}" method="post" enctype="multipart/form-data">





                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Your Username </label>
                                        <div class="col-8">
                                            <input id="username" name="username" placeholder="Your Username..."
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Your Country </label>
                                        <div class="col-8">
                                            <input id="country" name="country" placeholder="Your Country..."
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                     Continue


                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>
{% endblock %}


