
{% extends 'base.html.twig' %}

{% block body %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Benvenuto!</h1>

            {% if app.user %}
                <p>Ciao <b style="color: #007bff;">{{ app.user.name }}</b>, benvenuto su EmployeeManager!</p>

                <p><a class="btn btn-primary btn-lg"  href="{{ path('user_dashboard')}}" role="button">Vai alla Dashboard »</a></p>

            {% else %}
                <p>Devi accedere con le tue credenziali per poter procedere</p>
                <p><a class="btn btn-primary btn-lg"  href="{{ path('login')}}" role="button">Accedi »</a></p>

            {% endif %}
        </div>
    </div>

{% endblock %}


