{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <h4>Reset Password </h4>

                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <form action="{{ path('save_password') }}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="code"
                                           value="{{ user.id }}">


                                    <div class="input-group mb-3">
                                        <input type="password" id="newPass" name="newPass" required class="form-control"
                                               placeholder="Insert your NEW password"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-eye showPass"
                                                                              onclick="showPassword()"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                Reset Password


                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>


        function showPassword() {
            var x = document.getElementById("newPass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }


    </script>
{% endblock %}


