{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                   <h4>Profile Settings </h4>

                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{{ path('settings_update') }}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="code"
                                           value="{{ app.user.id }}">




                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Old Password </label>
                                        <div class="col-8">
                                            <input id="oldPass" name="oldPass" placeholder="your OLD password..."
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">New Password </label>
                                        <div class="col-8">
                                            <input id="newPass" name="newPass" placeholder="New Password Here..."
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                    Edit Settings


                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>
{% endblock %}


