
<div class="table-responsive">

    <table id="mytable" class="table table-bordred table-striped">

        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Birthday</th>
            <th>Country</th>
            <th>Marital Status</th>
            <th>Skills</th>
            <th>Actions</th>


        </tr>
        </thead>
        <tbody>

        {% for user in users %}

            <tr>
                <td>  {% if(user.avatar is empty) %}
                        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" width="30"
                             class="img-circle ">

                    {% else %}
                        <img src="{{ asset('uploads/'~ user.avatar ) }}" width="30" class="img-circle ">

                    {% endif %}</td>
                <td>{{ user.name|e }}</td>
                <td>{{ user.surname|e }}</td>
                <td><a href="#" class="badge badge-info">  {{ user.username|e }}</a>
                  </td>
                <td>{{ user.birthday.format('d/m/Y')|e }}
                    {% if(user.checkBirthday() == true) %}
                        <a data-toggle="tooltip"  title="Oggi devi offrire!">🎂</a>
                    {% endif %}
                </td>
                <td>{{ user.country|e }}</td>
                <td> {% if user.getMaritalId != null %}
                        {{ user.getMaritalId.name }}
                    {% endif %}
                </td>
                <td>
                    {% for us in userSkills %}
                        {% if us.getUserId.id == user.id %}
                            <a href="{{ path('param_search', {'code': us.getSkillId.id}) }}"
                               class="badge badge-secondary">
                                {{ us.getSkillId.name|e }}</a>
                        {% endif %}
                    {% endfor %}
                </td>

                <td class="form-check-inline">
                    <a href="{{ path('user_edit', {'id': user.id}) }}"
                       class="btn btn-primary btn-sm">EDIT</a>
                    {% if (app.user and app.user.isAdminRole()) %}
                        <a href="javascript://" onclick="deleteUser({{ user.id }});"
                           class="btn btn-danger btn-sm">DELETE</a>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}


        </tbody>

    </table>


</div>