{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if (skill.id !=0 or skill.id is not null) %}
                                    <h4>Edit skill {{ skill.name }}</h4>
                                {% else %}
                                   <h4>Add a new skill</h4>
                                {% endif %}
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{{ path('skill_update') }}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="code"
                                           value=" {% if (skill.id is not null) %} {{ skill.id }}{% else %} 0 {% endif %}">




                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Name *</label>
                                        <div class="col-8">
                                            <input id="name" name="name" placeholder="Name..."
                                                   value="{{ (skill.id is not null ) ? skill.name  :'' }}"
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                {% if (skill.id is not null) %}
                                                    Edit skill
                                                {% else %}
                                                    Add a new skill
                                                {% endif %}

                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>
{% endblock %}


