{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="row mt-20">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-xs-6"><h4>All Marital Status</h4>
                    </div>
                    <div class="col-lg-6 col-xs-6 pull-right">

                            <a href="{{ path('marital_edit', {'id': 0}) }}" class="btn btn-primary btn-xs float-right"><b>+</b> Add new Martial Status</a>


                    </div>
                </div>


                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>name</th>
                            <th>actions</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for m in maritalStatus %}


                            <tr>
                                <td>{{ m.id|e }}</td>
                                <td>{{ m.name|e }}</td>

                                <td class="form-check-inline"><a href="{{ path('marital_edit', {'id': m.id}) }}"
                                                                 class="btn btn-primary btn-sm">EDIT</a>
                                    <a href="javascript://" onclick="deleteMarital({{m.id}});" class="btn btn-danger btn-sm">DELETE</a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>


                </div>

            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {


            $("[data-toggle=tooltip]").tooltip();
        });

        $('.alert').alert();


        function deleteMarital(id) {


            swal({
                title: 'Are you sure to delete this Marital Status?',
                text: "You won't be able to revert this!",
                type: 'warning',
                animation: false,
                customClass: 'animated tada',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                showLoaderOnConfirm: true,
            }) .then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "/maritalStatus/deleteMarital/"+ id,
                        cache: false,
                        success: function(response) {
                            swal({
                                title: "Success!",
                                text: "The Marital Status was deleted!",
                                type: "success"
                            }).then(function() {
                                window.location.reload()
                            });

                        },
                        failure: function (response) {
                            swal(
                                "Internal Error",
                                "Oops, your note was not saved.", // had a missing comma
                                "error"
                            )
                        }
                    });
                }
                else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons(
                        'Cancelled',
                        'Your marital status is safe :)',
                        'error'
                    )
                }
            });


            // if (confirm("Are you sure?")) {
            //
            //     $.ajax({
            //         url: '/maritalStatus/deleteMarital/' + id,
            //         method: 'get',
            //         success: function (data) {
            //             console.log(data);
            //             if (data == '1') {
            //                 alert('martial deleted');
            //                 window.location.reload();
            //             }
            //         }
            //     });
            //
            // }
        }
    </script>

{% endblock %}


