<nav id="navbar-top" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('assets/image/logo-site.png' ) }}" width="50" class="img-circle ">
        Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if (app.user) %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_dashboard') }}"><i class="fas fa-users"></i>
                    User List</a>
            </li>
            {% endif %}

            {% if (app.user and app.user.isAdminRole()) %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('skill_dashboard') }}"><i class="fas fa-tasks"></i>
                    Skills List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('marital_dashboard') }}"><i class="fas fa-heart"></i>
                    Marital List</a>
            </li>
            {% endif %}

        </ul>

        <ul class="nav navbar-nav navbar-right ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="false">
                        {% if(app.user.avatar is empty) %}
                            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" width="40"
                                 class="img-circle avatar">
                        {% else %}
                            <img src="{{ asset('uploads/'~ app.user.avatar ) }}" width="40"
                                 class="img-circle ">
                        {% endif %}
                        {{ app.user.name ~ ' ' ~ app.user.surname }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_edit', {'id': app.user.id}) }}" class="dropdown-item"><i class="fas fa-user"></i> Profile</a></li>
                        <li><a href="{{ path('account_settings', {'id': app.user.id}) }}" class="dropdown-item"><i class="fas fa-wrench"></i>

                                Settings</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li>  <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i>
                                Logout</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <a class="btn btn-outline-info my-2 my-sm-0"  href="{{ path('login')}}">ACCEDI</a>
            {% endif %}
        </ul>




    </div>
</nav>


