{# templates/user/partial/_searchUser.html.twig #}


<form class="col-md-12" action="{{ path('skill_search') }}" method="post" enctype="multipart/form-data">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" name="query" id="query" aria-label=""
               placeholder="Search Skill...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" name="buttonSearch" id="buttonSearch">Search</button>
        </div>
    </div>
</form>