
<div class="table-responsive">


    <table id="mytable" class="table table-bordred table-striped">

        <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>actions</th>

        </tr>
        </thead>
        <tbody>

        {% for skill in skills %}


            <tr>
                <td>{{ skill.id|e }}</td>
                <td><b>{{ skill.name|e }}</b></td>

                <td class="form-check-inline"><a href="{{ path('skill_edit', {'id': skill.id}) }}"
                                                 class="btn btn-primary btn-sm">EDIT</a>
                    <a href="javascript://" onclick="deleteSkill({{skill.id}});" class="btn btn-danger btn-sm">DELETE</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>

    </table>


</div>