{% extends 'base.html.twig' %}


{% block body %}


    <div class="container">
        <div class="row mt-20">
            {#<form class="col-md-12" action="{{ path('user_search') }}" method="post" enctype="multipart/form-data">#}
            {#<div class="input-group input-group-lg">#}
            {#<input type="text" class="form-control" name="query" id="query" aria-label=""#}
            {#placeholder="Search Employee...">#}
            {#<div class="input-group-append">#}
            {#<button class="btn btn-outline-secondary" type="submit" name="buttonSearch" id="buttonSearch">#}
            {#Search#}
            {#</button>#}
            {#</div>#}
            {#</div>#}
            {#</form>#}

            {% include 'partial/user/searchUser.html.twig' %}

            <div class="mt-80"></div>

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-xs-6"><h4>All Employees</h4>
                    </div>
                    {% if (app.user and app.user.isAdminRole()) %}
                        <div class="col-lg-6 col-xs-6 pull-right">

                            <a href="{{ path('user_edit', {'id': 0}) }}"
                               class="btn btn-primary btn-xs float-right"><b>+</b>
                                Add new user</a>


                        </div>
                    {% endif %}

                </div>

                {% include 'partial/user/tableUser.html.twig'  with {'users': users} %}


            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {


            $("[data-toggle=tooltip]").tooltip();
        });

        $('.alert').alert();



        function deleteUser(id) {

            swal({
                title: 'Are you sure to delete this User?',
                text: "You won't be able to revert this!",
                type: 'warning',
                animation: false,
                customClass: 'animated tada',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "/user/deleteUser/" + id,
                        cache: false,
                        success: function (response) {
                            swal({
                                title: "Success!",
                                text: "The user was deleted!",
                                type: "success"
                            }).then(function () {
                                window.location.reload()
                            });

                        },
                        failure: function (response) {
                            swal(
                                "Internal Error",
                                "Oops, your note was not saved.", // had a missing comma
                                "error"
                            )
                        }
                    });
                }
                else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            });


            // if (confirm("Are you sure to remove this user?")) {
            //
            //     $.ajax({
            //         url: '/user/deleteUser/' + id,
            //         method: 'get',
            //         success: function (data) {
            //             console.log(data);
            //             if (data == '1') {
            //                 alert('user deleted');
            //                 window.location.reload();
            //             }
            //         }
            //     });
//
            //}
        }

    </script>
{% endblock %}


