{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if (user.id is not null or user.id != 0) %}
                                    <h4>Edit user {{ user.name ~ " " ~ user.surname }}</h4>
                                {% else %}
                                    <h4>Add a new user</h4>
                                {% endif %}
                                <hr>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <form action="{{ path('user_update') }}" method="post" enctype="multipart/form-data">

                                    <input type="hidden" name="code"
                                           value=" {% if (user.id is not null) %} {{ user.id }}{% else %} 0 {% endif %}">

                                    <div class="form-group row">
                                        <label for="avatar" class="col-4 col-form-label">Avatar</label>
                                        <div class="col-5">
                                            <div class="input-group mb-3">
                                                <label for="avatar">Choose your avatar</label>
                                                <input type="file" class="form-control-file" id="avatar" name="avatar">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            {% if(user.avatar is empty) %}
                                                <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" width="100"
                                                     class="img-circle ">

                                            {% else %}
                                                <img src="{{ asset('uploads/'~ user.avatar ) }}" width="100"
                                                     class="img-circle ">

                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Name *</label>
                                        <div class="col-8">
                                            <input id="name" name="name" placeholder="Name..."
                                                   value="{{ (user.id is not null ) ? user.name  :'' }}"
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="surname" class="col-4 col-form-label">Surname *</label>
                                        <div class="col-8">
                                            <input id="surname" name="surname" placeholder="Surname..."
                                                   value="{{ (user.id is not null ) ? user.surname  :'' }}"
                                                   required="required"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">Username *</label>
                                        <div class="col-8">
                                            <input id="username" name="username" placeholder="Username..."
                                                   value="{{ (user.id is not null ) ? user.username  :'' }}"
                                                    {{ (user.id == 0 ) ? '' : 'readonly="readonly"' }}
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>

                                    {% if (user.id == 0) %}
                                        <div class="form-group row">
                                            <label for="password" class="col-4 col-form-label">Password</label>
                                            <div class="col-8">
                                                <input id="password" name="password"
                                                       placeholder="Enter a new Password..."
                                                       class="form-control here" type="password">
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="form-group row">
                                        <label for="birthday" class="col-4 col-form-label">Birthday</label>
                                        <div class="col-8">
                                            <input id="birthday" name="birthday" placeholder="Birthday..."
                                                   value="{{ (user.id is not null ) ? user.birthday.format('d-m-Y ') :'' }}"
                                                   class="form-control here datepicker" type="text">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="country" class="col-4 col-form-label">Country</label>
                                        <div class="col-8">
                                            <input id="country" name="country" placeholder="Country..."
                                                   value="{{ (user.id is not null ) ? user.country  :'' }}"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="role" class="col-4 col-form-label">Marital Status</label>
                                        <div class="col-8">
                                            <select id="marital" name="marital" class="custom-select">
                                                {% if user.id is not empty %}
                                                    {% for m in marital_list %}
                                                        <option value="{{ m.id }}" {{ m.id == user.maritalId.id  ? ' selected ' : "" }}>
                                                            {{ m.name }}
                                                        </option>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for m in marital_list %}
                                                        <option value="{{ m.id }}">
                                                            {{ m.name }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    {% if (app.user.isAdminRole()) %}

                                        <div class="form-group row">
                                            <label for="role" class="col-4 col-form-label">User Role</label>
                                            <div class="col-8">
                                                <select id="role" name="role" class="custom-select">
                                                    {% if user.id is not empty %}

                                                        {% for r in roles %}
                                                            <option value="{{ r.id }}" {{ r.id == user.role.id  ? ' selected ' : "" }}>
                                                                {{ r.name }}
                                                            </option>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for r in roles %}
                                                            <option value="{{ r.id }}">
                                                                {{ r.name }}
                                                            </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                    {% endif %}


                                    <div class="form-group row">
                                        <label for="role" class="col-4 col-form-label">Skills</label>
                                        <div class="col-8">

                                            <select class="js-example-basic-multiple custom-select" name="skills[]"
                                                    multiple="multiple">
                                                {% for s in skills %}
                                                    <option value="{{ s.id }}">
                                                        {{ s.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                {% if (user.id is not null) %}
                                                    Edit user
                                                {% else %}
                                                    Add a new user
                                                {% endif %}

                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">


        $(document).ready(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                format: 'dd-mm-yyyy',
            });
        });


        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();


            var skills = [];
            {% for us in userSkills %}
            skills.push({{ us.skillId.id }});
            {% endfor %}
            console.log("selected values: ", skills);


                $('.js-example-basic-multiple').select2({}).select2('val', [skills]);


        });

    </script>
{% endblock %}


