{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row mt-20">

            {#<form class="col-md-12" action="{{ path('user_search') }}" method="post" enctype="multipart/form-data">#}
            {#<div class="input-group input-group-lg">#}
            {#<input type="text" class="form-control" name="query" id="query" aria-label=""#}
            {#placeholder="Search Employee...">#}
            {#<div class="input-group-append">#}
            {#<button class="btn btn-outline-secondary" type="submit" name="buttonSearch" id="buttonSearch">#}
            {#Search#}
            {#</button>#}
            {#</div>#}
            {#</div>#}
            {#</form>#}

            {% include 'partial/user/searchUser.html.twig' %}


            <div class="mt-80"></div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-xs-6"><h4>Result Search:</h4>
                    </div>

                </div>


                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Username</th>
                            <th>Birthday</th>
                            <th>Country</th>
                            <th>Marital Status</th>
                            <th>Skills</th>
                            {% if (app.user.isAdminRole()) %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                            <tr>
                                <td>  {% if(user.avatar is empty) %}
                                        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" width="30"
                                             class="img-circle ">

                                    {% else %}
                                        <img src="{{ asset('uploads/'~ user.avatar ) }}" width="30" class="img-circle ">

                                    {% endif %}</td>
                                <td>{{ user.name|e }}</td>
                                <td>{{ user.surname|e }}</td>
                                <td>{{ user.username|e }}</td>
                                <td>{{ user.birthday.format('d/m/Y')|e }}
                                    {% if(user.checkBirthday() == true) %}
                                        <a data-toggle="tooltip"  title="Oggi devi offrire!">🎂</a>
                                    {% endif %}
                                </td>
                                <td>{{ user.country|e }}</td>
                                <td>{% if user.getMaritalId != null %}
                                        {{ user.getMaritalId.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for us in userSkills %}
                                        {% if us.getUserId.id == user.id %}
                                            <a href="{{ path('param_search', {'code': us.getSkillId.id}) }}"
                                               class="badge badge-secondary">
                                                {{ us.getSkillId.name|e }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% if (app.user and app.user.isAdminRole()) %}

                                    <td class="form-check-inline">
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"
                                           class="btn btn-primary btn-sm">EDIT</a>
                                        {% if (app.user and app.user.isAdminRole()) %}
                                            <a href="javascript://" onclick="deleteUser({{ user.id }});"
                                               class="btn btn-danger btn-sm">DELETE</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>


                </div>

            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {


            $("[data-toggle=tooltip]").tooltip();
        });

        function deleteUser(id) {

            swal({
                title: 'Are you sure to delete this User?',
                text: "You won't be able to revert this!",
                type: 'warning',
                animation: false,
                customClass: 'animated tada',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "/user/deleteUser/" + id,
                        cache: false,
                        success: function (response) {
                            swal({
                                title: "Success!",
                                text: "The user was deleted!",
                                type: "success"
                            }).then(function () {
                                window.location.reload()
                            });

                        },
                        failure: function (response) {
                            swal(
                                "Internal Error",
                                "Oops, your note was not saved.", // had a missing comma
                                "error"
                            )
                        }
                    });
                }
                else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            });


            // if (confirm("Are you sure to remove this user?")) {
            //
            //     $.ajax({
            //         url: '/user/deleteUser/' + id,
            //         method: 'get',
            //         success: function (data) {
            //             console.log(data);
            //             if (data == '1') {
            //                 alert('user deleted');
            //                 window.location.reload();
            //             }
            //         }
            //     });
//
            //}
        }


    </script>
{% endblock %}


